/* 
Name(s): Trevor Crow, Cameron Foster
Date: 12/5/2018
Description: cart css
*/
.cart{
    background-color:#80deea96;
    margin-top: 20px;
    margin-left: 15%;
}
#button{
    float:right;
}
@media only screen and (max-width: 812px){
    .cart{
        margin-left:auto;
    }
    
    #process{
        font-size: 100%;
    }
}