/* 
Name(s): Trevor Crow, Cameron Foster
Date: 11/8/2018
Description: css for the home, catalog, login and sign up page
*/
.background{
    background-image: url("images/water-background.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.position-fixed{
    position: fixed;
}