/* 
Name(s): Trevor Crow, Cameron Foster
Date: 11/8/2018
Description: css for the home, catalog, login and sign up page
*/
.background{
    background-image: url("images/water-background.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.logsign{
    display:block;
    width: 200px;
    text-align: center;
    float: left;

}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
nav ul li{
    list-style-type: none;
    float: left;
    padding-left:25px;
    padding-right:25px;
}

/* 
background-color: rgba(255,255,255, .75);

use the stuff below for borders and separation

Primary Color: #80deea
P-Light Color: #b4ffff
P-Dark Color: #4bacb8
*/